@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;

.forward-btn{
    transform : rotate(180deg) translatey(+18%);
}
.carousel{
    max-width: 86rem;
    @include flex(row, space-between, center);
    flex-wrap: nowrap;
}